*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


.logo{
    width: 150px;
    height: 100%;
    border-right: lightgray 1px solid;
    padding-right: 10px;
    }

header nav li{
    display: inline-block;
    margin: 20px;
}

header nav ul{
    list-style: none;
    }

header nav a{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}

header nav {
    margin-top: 10px;
}

/* main */


.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

h2.lead{
    padding-top: 30px;
}

p.subtitle{
    padding-bottom: 30px;
    color: gray;
}

.main-top{
    background-image: url('img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: normal;
    height: 550px;
    }

.title{
    padding-top: 350px;
    color: white;
    font-size: 50px;
}
.stitle{
    font-size: 30px;
}

.main-top .transbox{
    background-color: #0c0b0b80;
    opacity: 0.4;
    height: 550px;
    margin: 0%;
}

h2{
    margin: 0;
    padding: 0%;

}

.container{
    margin: 0 auto;
    width: 100%;
}

.lead{
    color: black;
    font-weight: bolder;
}


aside{
    width: 25%;
    float: left;
    margin: 0%;
}

article{
    width: 50%;
    float: left;
    margin: 0%;
}

.border{
    border: 1px solid rgba(0, 0, 0, 0);
    
}

.foto1{
    background-image: url('img/img-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    height: 300px;
}

.foto2{
    background-image: url('img/banner-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    height: 300px;
}

.foto3{
    background-image: url('img/img-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    height: 300px;
}

section .transbox{
    background-color: #0c0b0b80;
    opacity: 0.4;
    height: 100%;
    margin: 0%;
    border-radius: 10px;
}

col{
    width: 25%;
}

h3{
    padding: 10px 0 10px 0;
}

.float-left{
    float: left;
}

.col-center{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}

.imgcent{
    width: 100%;
}

img{
    height: 250px;
    width: 100%;
}

footer{
    text-align: center;
    padding: 20px;
}

footer > span{
    color: red;
}

